.page-container {
  display: grid;
  grid-template-columns: [L] 1fr [M] 1fr [R];
  grid-template-rows: [T] 150px [M] 1fr [B];
}

.header {
  grid-column: L/R;

  justify-self: center;
}
.header > h2 {
  text-align: center;
}

.views { 
  align-self: start; 

  display: grid;
  grid-template-columns: [s] 1fr [m] 1fr [e] ;
  grid-template-rows: [p] 1fr [a] 1fr;
  justify-items: center;
}
.views > a {
  grid-row: a;
 text-decoration: dashed;
}
.views > p {
  grid-column: s/e;
}

.canvas { 
  grid-column: M;
}
